@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* 
{
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

body
{
    overflow-y: hidden;
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar 
{
    width: 15px;
}
  
*::-webkit-scrollbar-track 
{
    background: var(--primary);
    border-radius: 5px;
}
  
*::-webkit-scrollbar-thumb 
{
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}


body
{
    background-color: #060606;
}


.text-gradient
{
    background: linear-gradient(61deg, #217BFE 0.0%, #078EFB 27.0%, #A190FF 78.0%, #BD99FE 100.0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-gradient
{
    background: linear-gradient(61deg, #217BFE 0.0%, #078EFB 27.0%, #A190FF 78.0%, #BD99FE 100.0%);
}